<div class="card">
    <div class="card-header">
        <h1 class="text-center">Trelleborg Marines Systems UK - Developer Test</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Developer Tasks</th>
                <th scope="col">Requirement</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="rowgroup">1</th>
                <td>Carry out all tasks</td>
            </tr>
            <tr>
                <th scope="rowgroup">2</th>
                <td>Carry out additional tasks</td>
            </tr>
            <tr>
                <th scope="rowgroup">3</th>
                <td>I see more tasks..</td>
            </tr>
            <tr>
                <th scope="rowgroup">4</th>
                <td>He tasks me...</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-warning" routerLink="/home">Home</a>
        <a class="btn btn-danger" routerLink="/list-weather">Weather</a>
    </div>
</div>

